<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../AdminPanel/adm.css">
    <title>Document</title>
</head>
<body>
    <div class="container-admin">
        <div class="admin-block">
            <h1 class="admin-panel-title">Адмін Панель</h1>
            <div class="admin-subtitle-line"></div>

            <ul class="admin-menu">
                <li class="admin-menu-links"><a href="#">Головна</a></li>
                <li class="admin-menu-links"><a href="#">Курси</a></li>
                <li class="admin-menu-links"><a href="#">Викладачі</a></li>
                <li class="admin-menu-links"><a href="#">Зворотній зв'язок</a></li>
            </ul>
        </div>

        <div class="admin-content-block">
            <h1 class="admin-content-title">Build-PC</h1>
            <div class="admin-content-line"></div>
            <div class="admin-content"></div>
        </div>
    </div>
</body>
</html>