@font-face {
    font-family: Lora;
    src: url(".//../../public/fonts/Lora/Lora-VariableFont_wght.ttf");
    font-family: Mulish;
    src: url("./../../public/fonts/Mulish/Mulish-VariableFont_wght.ttf");
}